@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
:root {
      --app-theme : #9461fb; 
}
body{
    background-color: black !important;
}
.navbar{
    background-color: black !important;
}
.hero_forms{
    width: 40%;
    padding: 12px;
}

#scroolcontainer {
    width: 100vw;
    mask: linear-gradient(90deg, transparent, white 40%, white 60%, transparent);
    -webkit-mask: linear-gradient(90deg, transparent, white 40%, white 60%, transparent);
  }
  #scrool_list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
  }
  #scrool_list li {
    padding: 10px 20px;
    border-radius: 7px;
    background-color: var(--app-theme);

  }
  #scroolcontainer[data-animated] {
    overflow: hidden;
  }
  #scroolcontainer[data-animated] #scrool_list {
    width: max-content;
    animation: scroll 20s linear infinite;
  }
  @keyframes scroll {
    to {
      transform: translateX(calc(-50%));
    }
  }